@inherits LayoutComponentBase
<div>
    <Layout>
        <Header>
            <div style="text-align: center;">
                <h4>
                    <font color="white">
                        One · 一个
                    </font>
                </h4>

            </div>
        </Header>
        <Content>
            <div>@Body</div>
        </Content>
        <Footer>
            <div class="text-center">
                <p>
                    One · 一个
                </p>
                <p>
                    Powered Design By <a href="https://docs.microsoft.com/zh-cn/aspnet/core/blazor/?view=aspnetcore-3.1">ASP.NET Core Blazor WebAssembly</a>&<a href="https://ant-design-blazor.gitee.io/zh-CN">Ant Blazor</a>
                </p>
            </div>
        </Footer>
    </Layout>
</div>

